@import "../style/Style.css";

body > #root > div, .base-container{
    height: 100vh;
}

.base-container
{
    background-image: url('../../../public/images/start-screen.jpg');
}

.home-container
{
    display: flex;
   
    height: 90vh;
}

.left-side
{
    width: 50%;
}

.right-side
{
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.buttons
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;  
    gap: 20px;
}

.buttons button
{
    width: 25vw;
    font-size: 2em;
    border-radius: 30px;
}

