@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

body > #root > div, .base-container{
    height: 100vh;
}

*
{
    font-family: 'Montserrat', sans-serif;
}

.base-container
{
    background-image: url('../../../public/images/start-screen.jpg');
}

.home-container
{
    display: flex;
    justify-content: end;
}

.buttons
{
    width: 400px;
    margin-top: 200px;
    margin-right: 300px;
}
a
{
    text-decoration: none;
}

h1
{
    margin-left: 2em;
    color: red !important;
}