@import "../style/Style.css";

.base-container {
  background-image: url("../../../public/images/start-screen.jpg");
  height: 90vh;
}


.right-side h1 {
  font-size: 5rem;
  margin: auto;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 0;
  gap: 20px;

}

.buttons button {
  width: auto;
  font-size: 2rem;
  border-radius: 30px;
  margin: auto;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote {
  color: w;
  font-size: 3rem;
  width: 70%;
  margin: 5vh auto;
}

.home-content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row .brand-name
{
  font-size: 4rem;
}

/* Media Query for mobile devices */
@media only screen and (max-device-width: 420px)
{
  
  .quote
  {
    font-size: 1.5rem;
  }
  
  .row .brand-name
  {
    font-size: 3rem;
  }
}