@import "../style/Style.css";

.questions-container
{
    display: flex;
    flex-direction: column;
}

.questions-block
{
    width: 750px;
    height: 650px;
    border-radius: 30px;
    background-color: black;

    margin: auto;

    display: flex;
    justify-content: center;
}

.questions
{
    font-size: 1.5rem;
    margin: auto;
}

.questions form
{
    color: white;
}

.questions legend
{
    margin: auto;   
}

.questions .form-label
{
    margin-bottom: 30px;
}

.questions .answers .form-check
{
    margin-bottom: 10px ;
}

.questions .form-check-input:checked
{
    background-color: red;
    border-color: red;
}

.question-row
{
    display: flex;
    text-align: center;
    height: 100%;
}

.question-row .question-label
{
    margin-bottom: 10px;
    margin-top: 40px;
}

.datepicker-race-date
{
    border-radius: 10px;
    width: 100%;
}

.question-row .answers .form-control
{
    width: 60%;
    margin: auto;
}

.question-row .answers
{
    width: 100%; 
}

.send-questions
{
    display: flex;
    justify-content: space-around;
}

.send-questions .summary-buttons
{
    display: flex;
    flex-direction: column;
}

.send-questions .summary-buttons button
{
  height: 10%;
  margin: auto;
}

.send-questions .summary-buttons .previous-button
{
    margin-bottom: 10px;
}

.send-questions .summary-buttons .create-plan-button
{
    margin-top: 10px;
}

@media (max-width: 800px) {
    .questions-block
    {
        width: 580px;
    }
}

@media (max-width: 700px) {
    .questions-block
    {
        width: 500px;
    }
}