@import "../style/Style.css";

.stats-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stats-content .container
{
    margin: auto;
}

.stats-container .empty-block
{
    background-color: black;
    height: 50vh;
}

.stats-container .stats-block
{
    height: 50vh;
}

.stats-container .progress-bars-block
{
    height: 50vh;
}

.h2-style
{
    color: white;
}

.p-style
{
    margin: 0px;
    font-weight: 600;
}

.stats-col-style
{
    display: flex;
    text-align: center;
    font-size: 3rem;
}

.stats-data
{
    margin: auto;
}

.check-icon
{
    font-size: 2rem;
    color: green;
}

.check-icons
{
    font-size: 2rem;
}

/* progress bar */
.progress-bars-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress-bars-block .stats-progress-bar-style
{
    height: 5vh;
}

.stats-progress-bar-container
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

@media (max-width: 1200px) {
    .stats-content .container .row
    {
        flex-direction: column;
    }

    .stats-col-style
    {
        margin: auto;
    }
}

@media (max-width: 992px) {
    .stats-col-style 
    {
      font-size: 1.5rem;
    }

    .h2-style
    {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .stats-col-style 
    {
      font-size: 1.9rem;
    }

    .h2-style
    {
        font-size: 1.4rem;
    }
}