@import "../style/Style.css";

.stats-content
{
    height: 91.5vh;

    display: flex;
    justify-content: center;
}

.stats-content .container
{
    margin: auto;
}

.h2-style
{
    color: white;
}

.p-style
{
    margin: 0px;
    font-weight: 600;
}

.stats-col-style
{
    display: flex;
    text-align: center;
    font-size: 4rem;
}

.stats-data
{
    margin: auto;
}

.check-icon
{
    font-size: 3rem;
    color: green;
}

.check-icons
{
    font-size: 2rem;
}

@media (max-width: 1200px) {
    .stats-content .container .row
    {
        flex-direction: column;
    }

    .stats-col-style
    {
        margin: auto;
    }
}