@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*
{
    font-family: 'Ubuntu', sans-serif;
}

body > #root > div, .base-container, 
.your-plan-container, .stats-container,
.questions-container, .plan-details-container,
.profile-container
{
    height: 100vh;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    color: red !important;
    font-weight: 600 !important;
}

.data-form .sign-in-button, .buttons .sign-in-button
{
    border: 3px solid white;
}

a
{
    text-decoration: none !important;
}

.data-form .register-button
{
    margin: auto;
    width: auto;
    border-radius: 20px;
    
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.home-container, .calendar-container
{
    display: flex;
   
    height: 90vh;
}

.your-plan-container, .plan-details-container, .profile-container
{
    background-color: #FF6666;
}

.stats-container
{
    background-color: red;
}

.questions-container
{
    background-color: red;
}