#site-name-id
{
    margin-left: 2rem;
    margin-bottom: 0;
}

.navbar-header-style .nav-link-header-style
{
    color: white;
    font-size: 1.5rem;
}

.logout-icon-style
{
    margin: 10px;
    color: white;
    font-size: 2rem;
}

.settings-icon-style
{
    margin: 10px 0px;
    color: white;
    font-size: 2rem;
}

#dropdown-settings
{
    background-color: transparent;
    border: none;
}

.no-padding
{
    padding: 0 !important;
}

.dropdown-item:active
{
    background-color: transparent !important;
}

@media (max-width: 420px) 
{
    .navbar-nav a, .navbar-nav .dropdown
    {
        margin: auto;
    }
}