@import "../style/Style.css";

.calendar-container
{
    display: flex;

    justify-content: center;
    text-align: center;
}

.calendar-panel
{
    margin: auto;
    margin-right: 0;
}

.carousel-style
{    
    width: 500px;
    height: 700px;
    min-width: 500px;
    margin: auto;
    margin-left: 10%;
    
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calendar-style{
    margin-top: 30px;
}

.calendar-buttons
{
    display: flex;
}

.calendar-buttons button
{
    margin-right: 10px;
    margin: auto;
}

.react-calendar-style
{
    margin: auto;
    border-radius: 30px;
}

.carousel-style .carousel-image-style
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 500px;
    height: 300px;
}

.carousel-style .carousel-item-style
{

    border-radius: 30px;
    width: 500px;
    height: 700px;
    background-color: white;

}

.carousel-item-style .carousel-caption-style
{
    height: 50%;

    display: flex;
    flex-direction: column;
}

.carousel-caption-style .carousel-stats
{
    margin: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.calendar-style .data-picker
{
    color: black;
}

.react-calendar__tile:active, 
.react-calendar__tile:enabled:focus {
    background-color: transparent !important;
    color: inherit !important;
  }

.react-calendar__tile--active:enabled, 
.react-calendar__tile--active:hover, 
.react-calendar__tile--active:focus {
    background-color: transparent !important;
    color: inherit !important;
}

.run-name
{
    font-weight: 700 !important;
    margin-bottom: 20px;
}

.carousel-caption-style .carousel-stats p
{
    margin-top: 8px;
    margin-bottom: 0;
}

.check-icons svg:hover
{
    cursor: pointer;
}

.carousel-caption-style .check-icons 
{
    display: flex;
    justify-content: center;
}


@media (max-width: 940px) {
    .your-plan-container
    {
        height: 200vh;
    }
    
    .calendar-container {
        flex-direction: column;
        height: 190vh;
    }

    .carousel-style {
        width: 70%;
        margin: auto;
    }

    .carousel-style .carousel-image-style {
        width: 100%;
        height: auto;
    }


    .calendar-panel
    {
        margin: auto;
        margin-bottom: 0px;
    }
    

}

/* Media Query for mobile devices */
@media (max-width: 420px) {
    .your-plan-container
    {
        height: 150vh;
    }
    
    .calendar-container {
        flex-direction: column;
        height: 140vh;
    }

    .carousel-style {
        width: 100%;
        min-width: 200px;
        height: 80vh;
        margin: auto;
        margin-top: 20px;
    }

    .carousel-style .carousel-image-style {
        width: 100%;
        height: auto;
    }

    .carousel-caption-style .check-icons {
        display: flex;
        justify-content: center;
    }

    .carousel-inner
    {
        height: 80vh;
        background-color: white;
        border-radius: 30px;
        position: relative;
    }

    .carousel-style .carousel-caption-style
    {
        position: absolute;
        bottom: 0px;
        left: 40%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 50%;

    }
    .carousel-caption-style .check-icons 
    {
        margin-top: 10px;
    }

    .carousel-caption-style .carousel-stats
    {
        margin: 10px;
    }

    .carousel-caption-style .check-icon
    {
        font-size: 2rem;
    }

    .run-name
    {
        margin: 0;
    }
}