@import "../style/Style.css";

.calendar-container
{
    display: flex;

    justify-content: center;
    text-align: center;
}

.calendar-panel
{
    margin: auto;
    margin-right: 0;
}

.carousel-style
{    
    width: 500px;
    height: 700px;

    margin: auto;
    margin-left: 10%;
    
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.calendar-style{
    margin-top: 30px;
}

.calendar-buttons
{
    display: flex;
}

.calendar-buttons button
{
    margin-right: 10px;
    margin: auto;
}

.react-calendar-style
{
    margin: auto;
    border-radius: 30px;
}

.carousel-style .carousel-image-style
{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 500px;
    height: 300px;
}

.carousel-style .carousel-item-style
{

    border-radius: 30px;
    width: 500px;
    height: 700px;
    background-color: white;

}

.carousel-item-style .carousel-caption-style
{
    height: 50%;

    display: flex;
    flex-direction: column;
}

.carousel-caption-style .carousel-stats
{
    margin: auto;
}

.calendar-style .data-picker
{
    color: black;
}

.react-calendar__tile:active, 
.react-calendar__tile:enabled:focus {
    background-color: transparent !important;
    color: inherit !important;
  }

.react-calendar__tile--active:enabled, 
.react-calendar__tile--active:hover, 
.react-calendar__tile--active:focus {
    background-color: transparent !important;
    color: inherit !important;
}

.run-name
{
    font-weight: 700 !important;
    margin-bottom: 20px;
}

.carousel-caption-style .carousel-stats p
{
    margin-top: 8px;
    margin-bottom: 0;
}